main{
    font-family: 'Roboto', sans-serif;
}

.changeType{
    height: 60px;
    background-color: rgb(70, 115, 229);
}

header{
    color: rgb(70, 115, 229);
    height: 110px;
}
main{
    height:calc(100vh - 110px);
    background-color: rgb(242, 235, 235);
}



.cardBox{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border: 2px solid grey;
    font-size: 2rem;

}

.card{
    background-color: rgb(242, 235, 235);
    border: none;    
}
h5{
    font-size: 0.8rem;
}